<form class="form-horizontal" style="margin: 50px;">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-globe"></span></span>
            <input type="text" class="form-control" value="{{ location }}">
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="stars.one" btn-checkbox>1</label>
            <label class="btn btn-primary" ng-model="stars.two" btn-checkbox>2</label>
            <label class="btn btn-primary" ng-model="stars.three" btn-checkbox>3</label>
            <label class="btn btn-primary" ng-model="stars.four" btn-checkbox>4</label>
            <label class="btn btn-primary" ng-model="stars.five" btn-checkbox>5</label>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="doubleRoom" btn-radio="false"><span class="fa fa-female"></span></label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="true"><span class="fa fa-female"></span><span class="fa fa-male"></span></label>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Auktion starten</button>
</form>
