<div class="logo-div" style="margin-top:15px">
    <img class="img-responsive logo" src="images/logo@2x_.png">
    <div class="tagline">/now</div>
</div>

<div style="clear:both"></div>

<tabs>
  <pane title="Karte">
    <google-map center="map.center" zoom="map.zoom" options="{streetViewControl: false}">
      <marker coords='map.center'></marker>

      <marker ng-repeat="marker in markers" coords='marker.position'></marker>
    </google-map>
  </pane>
  <pane title="Liste">
    <ul class="offerhotels">
          <li class="offer-list-li" ng-repeat="offerhotel in offerhotels | filter:query | orderBy:orderProp">
            <div class="hotel-info">
            <div class="hotel-image" style="background:url(/images/hotel/{{offerhotel.place_id}}.jpg) 50% 50% no-repeat;">
            </div>
            <div class="hotel-name">
              <div>
              <b>{{offerhotel.name}}</b>
              <p>{{offerhotel.rating}} von 5</p>
            </div>
            <div><img src="/images/offer.png" style="width:25px; height:25px;"></div>
            </div>
            <div class="hotel-price">
              {{offerhotel.price}}€
            </div>
            <div class="book-btn">
              <button type="submit" class="btn btn-success btn-lg">Buchen</button>
            </div>
          </div>
          </li>
        </ul>
        <ul class="hotels">
          <li class="hotel-list-li" ng-repeat="hotel in hotels | filter:query | orderBy:orderProp">
          <div class="hotel-info">
            <div class="hotel-image" style="background:url(/images/hotel/{{hotel.place_id}}.jpg) 50% 50% no-repeat;">
            </div>
            <div class="hotel-name">
              <b>{{hotel.name}}</b>
              <p>{{hotel.rating}} von 5</p>
            </div>
            <div class="hotel-price">
              {{hotel.price}}€
            </div>
            <div class="book-btn">
              <button type="submit" class="btn btn-success btn-lg">Buchen</button>
            </div>
          </div>
          </li>
        </ul>
  </pane>
</tabs>
