<div class="logo-div" style="margin-top:15px">
    <img class="img-responsive logo" src="images/logo@2x_.png">
    <div class="tagline">/now</div>
</div>

<div style="clear:both"></div>

<tabs>
  <pane title="Karte">
    <google-map center="map.center" zoom="map.zoom" options="{streetViewControl: false, mapTypeControlOptions: { mapTypeIds: [] }}">

      <marker ng-repeat="offer in offers" coords="offer.hotelInfo">
          <marker-label content="offer.hotelInfo.name"></marker-label>
          <window isIconVisibleOnClick="true">
              <div class="hotel-info">
                  <div class="hotel-image">
                      <img ng-src="/images/hotel/{{offer.hotelInfo.img}}" width="90" height="90" />
                  </div>
                  <div class="hotel-name">
                      <div>
                          <b>{{offer.hotelInfo.name}}</b>
                          <p>{{offer.hotelInfo.rating}} von 5</p>
                      </div>
                      <div><img src="/images/offer.png" style="width:25px; height:25px;"></div>
                  </div>
                  <div class="hotel-price">
                      {{offer.price}}€
                  </div>
                  <div class="book-btn">
                      <button type="button" class="btn btn-success btn-lg" ng-submit="book(offer.hotelId)">Buchen</button>
                  </div>
              </div>
          </window>
      </marker>
    </google-map>
  </pane>
  <pane title="Liste">
    <ul class="offerhotels">
          <li class="offer-list-li" ng-repeat="offer in offers | orderBy:orderProp">
            <div class="hotel-info">
            <div class="hotel-image">
                <img ng-src="/images/hotel/{{offer.hotelInfo.img}}" width="90" height="90" />
            </div>
            <div class="hotel-name">
              <div>
              <b>{{offer.hotelInfo.name}}</b>
              <p>{{offer.hotelInfo.rating}} von 5</p>
            </div>
            <div><img src="/images/offer.png" style="width:25px; height:25px;"></div>
            </div>
            <div class="hotel-price">
              {{offer.price}}€
            </div>
            <div class="book-btn">
              <button type="button" class="btn btn-success btn-lg" ng-submit="book(offer.hotelId)">Buchen</button>
            </div>
          </div>
          </li>
        </ul>
        <ul class="hotels">
          <li class="hotel-list-li" ng-repeat="hotel in hotels | filter:query | orderBy:orderProp">
          <div class="hotel-info">
            <div class="hotel-image" style="background:url(/images/hotel/{{hotel.place_id}}.jpg) 50% 50% no-repeat;">
            </div>
            <div class="hotel-name">
              <b>{{hotel.name}}</b>
              <p>{{hotel.rating}} von 5</p>
            </div>
            <div class="hotel-price">
              {{hotel.price}}€
            </div>
            <div class="book-btn">
              <button type="submit" class="btn btn-success btn-lg">Buchen</button>
            </div>
          </div>
          </li>
        </ul>
  </pane>
</tabs>
