<div class="row">
    <div class="col-lg-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="request in requests | orderBy: 'dist'" ng-class="{'active': request.active}"><a ng-click="select(request)">

                <div class="hotelier-badge"><span class="fa fa-female"></span><span class="fa fa-male" ng-if="request.doubleRoom"></span></div> Entfernung: {{request.dist}}km
            <span class="fa fa-check" ng-class="{'active': request.active}" ng-if="user_uuid==request.uuid"></span></a>
                
                

            </li>
        </ul>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-8">
                <div class="badge">
                    <span class="fa fa-female fa-5x"></span><span class="fa fa-male fa-5x" ng-if="doubleRoom"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <google-map center="map.center" zoom="map.zoom" options="{streetViewControl: false}">
                    <marker coords="map.center"></marker>
                </google-map>
            </div>
        </div>
        <div class="row">
            <form ng-submit="sendOffer()">
                <div class="form-group">
                    <label for="offerPrice">Preis</label>
                    <input type="number" ng-model="offer.price" id="offerPrice" name="offerPrice" class="form-control">Taxi</input>
                    <input type="checkbox" ng-model="offer.taxi" id="offerTaxi" name="offerTaxi">Breakfast</input>                    
                    <input type="checkbox" ng-model="offer.breakfast" id="offerBreakfast" name="offerBreakfast"  />
                </div>

                <button type="submit" class="btn btn-success">Angebot senden</button>
            </form>
        </div>
    </div>
</div>

